.vertAlign2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.buttonGray {
    background-color: lightgray;
    border: lightgray;
    background-image: url("");
    background-repeat: no-repeat;
    padding: 25px 50px
  }
  
  .buttonGray:hover {background-color: #e7e7e7;}

  #politics {
    background-image: url("/assets/images/whitehouse.jpg");
    /* content: url("./assets/images/whitehouse.jpg") */
    height: 100%;
    width: 100%;
}