.height {
    height: 50em
}

.centerPage {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetweenDiv {
    display: flex;
    justify-content: space-between;
}

.topPage{
    display: flex;
    justify-content: flex-end;
    vertical-align: text-top;
    padding: 10px 30px 0 0;
}

.vertAlign {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertAlign2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

#jumboBox {
    background-color: black;
}

#scrap {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 100px;
    color: white;
}

#scrap2 {
    font-family: 'ZCOOL XiaoWei', serif;
    color: white;
}

#politics {
    background-image: url("./assets/images/whitehouse.jpg");
    /* content: url("./assets/images/whitehouse.jpg") */
    height: 100%;
    width: 100%;
}

.buttonGray {
    background-color: lightgray;
    border: lightgray;
    background-image: url("./assets/images/npr.png");
    background-repeat: no-repeat;
    padding: 25px 50px
  }
  
  .buttonGray:hover {background-color: #e7e7e7;}

  .mybutton {
    background-image:url("./assets/images/npr.png");
    background-repeat:no-repeat;
}

